* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sideBar {
  width: 100%;
  height: 50px;
  background-color: #34495e;
  display: flex;
  align-items: center;
  list-style: none;
}

.sideBar li {
  width: 80px;
  text-align: center;
}

.sideBar li a {
  size: 24px;
  color: white;
  text-decoration: none;
}

.todo_container {
  width: 60%;
  margin: 0 auto;
}
